ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    color: #666;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
@media screen and (min-width: 1280px){
    .container {
        width: 1200px;
    }
}
header {
    padding-left: 0!important;
    max-height: 72px;
    /*overflow: hidden;*/
}
.logo {
    padding: 15px;
}
.logo img {
    display: block;
    max-width: 100%;
    height: 50px;
    margin: 0 auto;
}
article ul {
    width: 100%;
}
article ul li {
    float: left;
    padding: 15px 30px 15px 30px;
    line-height: 50px;
    text-align: left;
}
article a {
    display: block;
    height: 50px;
    font-size: 18px;
    line-height: 50px;
    font-weight: 600;
}
article i {
    padding-left: 3px;
    font-size: 16px;
}
article a:hover {
    background-color: #fff;
    text-decoration: none;
    color: #333;
}
aside {
    font-size: 30px;
    line-height: 75px;
    padding-top: 10px;
}
article ul li .g1 ul {
    background-color: white;
}
article ul li .g2 ul {
    background-color: white;
}
article ul li .g1 li {
    float: none;
    padding: 0;
    text-align: left;
}
.g11 {
    display: none;
}
article ul li .g2 li {
    float: none;
    text-align: left;
    padding: 0;
}
.g22 {
    display: none;
}
/*article ul li {*/
/*    overflow: hidden;*/
/*}*/
@media screen and (max-width: 1200px){
    article ul li {
        padding: 15px 15px 5px 15px;
    }
}

.w {
    height: 200px;
    /*position: relative;*/
}
/*search模块*/
.search {
    overflow: hidden;
    margin-left: 10%;
    margin-top: 36px;
    /*max-width: 100%;*/
}
.search input {
    background:none;
    outline:none;
    border:0;
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom: 2px solid #dcdcdc;
    box-sizing: border-box;
    height: 36px;
    flex-grow: 1;
    border-radius: 15px 0 0 15px;
    width: calc(100% - 100px);
    max-width: 100%;
    padding-left: 10px;
    margin-right: -5px;
}
.search input:focus{
    border-bottom: 2px solid #0F996B;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
}
.search button {
    background-color: rgba(15,153,107);
    font-size: 13px;
    color: #ffffff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px ;
    border: none;
    height: 38px;
    width: 60px;
}
.hotwords {
    padding-left: 20%;
    padding-top: 20px;
}
.hotwords a {
    padding: 0 20px;
}

/*底部footer模块*/
.footer {
    width: 100%;
    float: left;
    height: 550px;
    background-color: #2b2b2b;
    padding-top: 30px;
    margin-top: 50px;
}
.mod_service {
    height: 100px;
    border-bottom: 1px solid #cccccc;
}
.mod_service ul li {
    float: left;
    width: 300px;
    height: 50px;
    padding:0 35px;
}
.mod_service ul li h5 {
    float: left;
    width: 171px;
    height: 73px;
    background: url("./images/2.png") no-repeat;
    background-size: 171px 73px;
    margin-right: 8px;
}
.service_text h4 {
    font-size: 14px;
}
.service_text {
    font-size: 12px;
}
.mod_help {
    height: 185px;
    border-bottom: 1px solid #cccccc;
    padding-top: 20px;
    padding-left: 50px;
    display: flex;
}
.mod_help dt {
    font-size: 20px;
    margin-bottom: 10px;
    color: #ffffff;
}

.mod_help dl {
    float: left;
    width: 200px;
    flex: 1;
    text-align: center;
}
.mod_help dd {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}
.mod_help dl dd a {
    color: #9a9a9a;
}
.mod_help dl:last-child {
    width: 90px;
    text-align: center;
}
.mod_copyright {
    text-align: center;
    padding-top: 20px;
}
.mod_copyright ul li {
    color: #666666;
}

.links {
    margin-bottom: 20px;
    height: 20px;
}
.copyright {
    line-height: 20px;
}
.links ul li {
    float: left;

}
.links ul li:nth-child(even) {
    width: 1px;
    height: 14px;
    background-color: #666666;
    margin: 3px 22px 0;
}
.path,
.step{
    float: left;
    height: 60px;
    line-height: 60px;
    color: #9a9a9a;
}
.step {
    float: right;
}
.step span {
    float: left;
}
.step i {
    display: block;
    width: 14px;
    height: 60px;
    float: left;
    margin: 0 5px;
    background: url("../images/jt.png") center center no-repeat;
}
.center-wrap {
    /*height: 1600px;*/
}
.left-wrap {
    width: 65%;
    /*background-color: pink;*/
    border: 1px solid #e5e5e5;
    padding-bottom: 30px;
}
.right-wrap {
    width: 35%;
}
.current {
    color: #3e3e3e!important;
    border-bottom: 2px solid #eb002a;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.a1 {
    height: 100%;
    width: 300px;
    background-color: white;
    position: fixed;
    left: 0;
    z-index: 999;
    display: none;
    color: black;
}
.links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
}
.links ul li {
    flex: 1;
    /*padding-top: 10px;*/

}
@media screen and (max-width: 992px){
    article ul li {
        margin-top: 30px;
        float: none;
        text-align: center;
        padding: 0;
    }
    .g33 {
        margin-top: 70px;
    }
    article ul li li {
        margin: 0;
    }
    article ul {
        margin-top: 50px;
    }
    span {
        display: block;
        float: right;
    }
    span i {
        display: block;
        font-size: 30px;
    }
    .mod_help {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-left: 10px;
        border-bottom: 0;
    }
    .mod_help dl:nth-child(1) {
        flex:1 0 50%;
        order: 1;
    }
    .mod_help dl:nth-child(2) {
        flex: 1 0 50%;
        order: 2;
    }
    .mod_help dl:nth-child(3) {
        order: 3;
        flex: 1 0 100%;
    }
    .mod_help dl:nth-child(4) {
        flex: 1 0 25%;
    }
    .footer {
        height: 550px;
    }
}